################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EvenBetterSaveLoad/.vs
/EvenBetterSaveLoad/packages
/obj
/packages
/packages.config
/bin/Release
